.wishName {
    a {
        font-family: OpenSansSemiBold;
        font-size: 15px;
        color: #565555;
    }
}

.wishPrice {
    .price {
        b {
            font-family: OpenSansBold;
            color: #06b4a2;
            font-size: 19px;
        }
        s {
            font-family: OpenSansSemiBold;
            font-size: 14px;
            color: #fb6362;
        }
    }
}

.buttonWishBuy {
    background: #06b4a2 !important;
    border: #06b4a2;
    box-shadow: none !important;
    span.icon {
        background: url('../image/buyCart.png') no-repeat;
        width: 16px;
        height: 19px;
        display: inline-block;
        vertical-align: top;
        background-size: 16px;
        background-position-y: 1px;
    }
}

.buttonWishDel {
    border: none;
    border-bottom: 3px solid #ca3e3d !important;
    background: #fb6362 !important;
    box-shadow: none !important;
}
