body[class^=product-category-] {
    .productsCategory {
        clear: both;
    }
    .leftColumn {
        margin-top: 0 !important;
    }
    /*.leftColumn*/
    .mainColumn {
        .titleOption {
            overflow: hidden;
            padding-top: 15px;
						margin-bottom: 17px;
        }
    }
    /*.mainColumn*/
    .rightColumn{
    	.my-home-special-block{
    		margin-top: 36px;
    	}
    }
    /*.rightColumn*/
}

.seo{
        background: #fff;
    word-wrap: break-word;
    margin-bottom: 25px;
    
    .seo-cont{
    position: relative;
    padding: 27px;
    &:after, &:before{
        content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
    }
        h1{
            color: #fb6362;
            font-size: 48px;
            margin: 0;
            margin-bottom: 30px;
        }
        p{
            font-size: 14px;
            color: #9e9e9e;
        }
    }
}
