    .footer-bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        .footerLeftColumn {
            float: left;
            width: 29.16224814422057%;
            padding-left: 5px;
            &>div {
                i {
                    font-size: 19px;
                    width: 20px;
                    color: #fb6362;
                }
            }
            & .addres i {
                font-size: 31px;
            }
            & .phoneNumber i {
                font-size: 21px;
            }
            & .mail i {
                font-size: 16px;
                padding-top: 2px;
            }
            .footerKorzinaText {
                img {
                    vertical-align: top;
                    margin-top: 0px;
                    margin-left: -6px;
                }
                p {
                    margin: -6px 0 18px 15px;
                    color: #fb6362;
                    display: inline-block;
                }
            }
        }
        .centerColum {
            float: left;
            width: 23.86002120890774%;
            padding-left: 20px;
            position: relative;
            &:before {
                border-left: solid 2px #ede9ed;
                position: absolute;
                content: "";
                left: 0;
                width: 2px;
                top: 13px;
                height: 94%;
            }
            &:after {
                right: 0;
                border-left: solid 2px #ede9ed;
                position: absolute;
                content: "";
                width: 2px;
                top: 13px;
                height: 94%;
            }
        }
        .footerRightColumn {
            float: left;
            width: 46.25026511134677%;
            padding-left: 4%;
            background: url('../image/footer-arrow.png') no-repeat;
            background-position: 54% 5%;
        }
    }
    
    .footerAkciyaText {
        color: #fb6362;
        width: 240px;
        text-shadow: 0 1px 1px #fff;
    }
