.leftColumn {
    float: left;
    width: 26.98091198303287%;
    margin-right: 3.1813361611877%;
    margin-top: 350px;
    padding-left: 15px;
    max-width: 260px;
    >div {
        margin-bottom: 40px;
    }
}


/*.leftColumn*/

.mainColumn {
    width: 50.90137857900318%;
    float: left;
    .my-product-slider-url {
        margin-bottom: 47px;
        /*overflow: hidden;*/
    }
}


/*.mainColumn*/

.rightColumn {
    float: right;
    width: 17.49734888653234%;
    /*display: none;*/
}


/*.rightColumn*/

.hoverRose {
    &:hover {
        color: #fb6362;
    }
}

.oneColumn {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1440px;
}

.fontClose {
    border: none;
    background: none;
    box-shadow: none;
    opacity: 0.2;
    padding: 0;
    margin-top: 11px;
    &:hover {
        opacity: 0.5;
    }
}

.closeButtonModal {
    padding-top: 0 !important;
}

.profitPropos {
    position: relative;
    top: -2px;
}

.slick-slider {
    margin-bottom: 0 !important;
}

body {
    background: #eee;
}

button,
input,
select {
    outline: none !important;
}

#input-sort {
    box-shadow: none;
    border: 1px solid #ccc !important;
    &:focus {
        border: none;
    }
}

#input-sort option {
    border: none !important;
    &::selection {
        background: grey;
    }
}

.newMy {
    width: 480px;
    .slick-next {
        right: 22px !important;
    }
    .slick-prev {
        right: 62px !important;
    }
}

.homeCarousel {
    .slick-next {
        right: 27px;
    }
    .slick-prev {
        right: 67px;
    }
    .item img {
        height: 230px;
        width: 230px;
    }
}

#quick-buy {
    .modal-title {
        text-transform: none;
    }
    .modal-header {
        border: none;
    }
    .modal-footer {
        display: none;
    }
}

.account_button {
    padding-top: 11px;
    text-transform: uppercase;
    width: 150px;
    font-family: OpenSansBold;
    height: 40px;
    border-radius: 5px;
    border: none !important;
    border-bottom: 3px solid #ca3e3d !important;
    background: #fb6362 !important;
    cursor: pointer;
    color: #fff !important;
    text-shadow: none !important;
    &:hover {
        background: #fb6362;
    }
}

.account_button_2 {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
    font-size: 14px;
    color: #777;
    &:hover {
        background: none;
    }
    i {
        margin-right: 6px;
    }
}

.buttons {
    background: #eee !important;
}

.account-link {
    li {
        a {
            font: 14px OpenSansSemiBoldItalic !important;
            color: #000 !important;
        }
    }
}

body[class^="account-"] {
    .my-header-menu-absolute {
        display: none;
    }
    .breadcrumb {
        display: none;
    }
}

.passForgWhy {
    text-align: left;
    margin-left: 8%;
    a {
        color: #000;
        text-decoration: underline;
    }
}

.nameModalBlock {
    min-height: 55px;
    max-height: 55px;
    overflow: hidden;
}

.socialInfoText {
    font-family: OpenSansSemiBold;
    color: #fb6362;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: text-top;
}

#uLogin {
    display: inline-block;
}

.socialIconEnter {
    padding-bottom: 5px;
    span {
        cursor: pointer;
        img {
            width: 35px;
        }
    }
}

body[class=product-compare] table.myTable>tbody>tr>td {
    max-width: 100px;
    border-right: 1px solid #ddd;
}

body[class=product-compare] table.myTable>tbody>tr>td:first-child {
    max-width: 50px;
}

body[class=product-compare] table.myTable>tbody>tr {
    border: 1px solid #ddd;
}

.compareButtonBuy {
    height: 33px;
    text-transform: uppercase;
    font-size: 14px;
    border: none;
    background: #06b4a2 !important;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    border-radius: 5px;
    color: #fff;
    font-family: OpenSansRegular;
}

.compareButtonDel {
    width: 100%;
    text-transform: uppercase;
    padding-top: 6px;
    text-shadow: none;
    height: 33px;
    font-size: 14px;
    background: #fb6362 !important;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #ca3e3d !important;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .76) !important;
    color: #fff;
    font-family: OpenSansRegular;
}

.compareName {
    font-family: OpenSansSemiBold;
    font-size: 15px;
    color: #565555;
}

.func_button {
    min-width: 100px;
    height: 30px;
    background: #fb6362 !important;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76) !important;
    padding-top: 5px;
}

div.homeCarousel {
    .slick-prev,
    .slick-next {
        top: -10px;
    }
}

.mfp-arrow::before {
    display: none !important;
}

.socialInfoText {
    text-transform: uppercase;
}

.socialIconEnter {
    padding-bottom: 20px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.41);
}

.trust {
    // margin-left: 29.5%;
    margin-bottom: 70px !important;
    margin-left: 283px;
    .slick-slide {
        text-align: center;
        margin-right: 10px;
        img {
            display: inline;
            margin-bottom: 10px;
        }
    }
    .text{
        font-size: 11px;
        color: #4a4a4a;
        line-height: 14px;
    }
    // .one_trust {
    //     text-align: center;
    //     font-size: 14px;
    //     // font-family: open sans;
    //     color: #4a4a4a;
    //     float: left;
    // }
}

.tooltip {
    opacity: 1 !important;
}
.tooltip-inner{
    background: #fff;
    max-width: 250px !important;
    color: #5d5d5d;
    padding: 20px;
    border-radius: 0;
    opacity: 1 !important;
}
.tooltip.bottom .tooltip-arrow{
    top: -10px;
    border-width: 0 9px 15px;
    margin-left: -10px;
    border-bottom-color: #fff;
}
