.my-top-header {
    padding: 0 15px 0 20px;
    .topHeaderlinks {
        float: left;
        a.my-top-header-link {
            margin-right: 32px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.my-top-header-text {
    padding: 0;
}

.my-header {
    .logo {
        float: left;
        width: 20.678685047720042417815482502651%;
        padding-top: 15px;
        padding-left: 15px;
        padding-top: 7px;
        margin-bottom: 0 !important;
        img {
            width: 100%;
        }
    }
    .city {
        margin-top: 49px;
        margin-left: 7.741251325556733828207847295864%;
        position: relative;
        .my-header-geo {
            >.my-geo-city-button {
                padding: 0;
                >span {
                    margin-right: 5px;
                }
            }
        }
    }
}


/*.my-header*/
