body[class^="information-information"]{
	.leftColumn{
		margin-top: 20px !important;
	}
	.my-breadcrumb{
	background: #fff;
  padding-top: 9px;
  margin-bottom: 0;
	}
	#content{
	min-height: inherit;
	}
}