body[class^="product-manufacturer-info-"]{
	.titleOption{
		overflow: hidden;
		padding-top: 15px;
		margin-bottom: 17px;
	}
	footer{
		margin-top: 20px;
	}
	.my-pagination{
		margin-bottom: 20px;
	}
}