@media screen and (min-width: 1050px) {
    #mediaPx {
        .rightColumn {
            display: none;
        }
        .mainColumn {
            width: 69.901379%;
            .titleOption {
                max-width: 697px;
            }
            .newMy {
                width: 725px;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #mediaPx {
        .banner-batton-right {
            top: 40%;
        }
        .banner-batton-left {
            top: 40%;
        }
        .footerLeftColumn {
            padding-left: 15px;
        }
    }
}

@media screen and (min-width: 1100px) {
    #mediaPx {
        .leftColumn {
            margin-top: 515px;
        }
    }
}

@media screen and (min-width: 1170px) {
    #mediaPx {
        .my-product-block-dis {
            width: 55.90915%;
        }
        .rightBlockProduct {
            margin-left: 55px;
            .delivery,
            .guaranty {
                float: left;
            }
        }
    }
}
@media screen and (max-width: 1170px) {
    #mediaPx {
        .rightBlockProduct{
            width: 46%;
        }
        .footer-bottom .footerRightColumn{
            background-position-x: 68%;
        }
    }
}

@media screen and (min-width: 1290px) {
    #mediaPx {
        .leftColumn {
            margin-top: 460px;
        }
        .mainColumn {
            width: 58.801379%;
            .titleOption {
                max-width: 697px;
                .my-cat-name {
                    max-width: inherit;
                }
            }
        }
        .rightColumn {
            display: block;
        }
    }
    /*#mediaPx*/
    body[class^="product-search"] {
        .mainColumn {
            /*width: 72.801379% !important;*/
        }
    }
}

@media screen and (max-width: 1260px) {
    #mediaPx {
        .my-header-geo a {
            max-width: 135px;
        }
    }
    /*#mediaPx*/
}

@media screen and (min-width: 1336px) {
    body[class^="product-search"] {
        .titleOption {
            /*max-width: 936px !important;*/
        }
    }
}

@media screen and (min-width: 1427px) {
    /*header*/
    .city {
        margin-top: 29px !important;
        left: 19%;
        top: 1%;
        position: absolute;
        max-width: 220px;
        .my-header-geo {
            padding: 0px 0px 0px 15px;
            border-left: solid 2px #dbdada;
            text-align: left;
        }
    }
    /*.city*/
    .my-header {
        position: relative;
    }
    /*.my-header*/
    .my-header-call-back {
        position: absolute;
        bottom: -56%;
        right: 31%;
        z-index: 1;
    }
    /*.my-header-call-back*/
    .contentHeader {
        width: 32.632025%;
        margin-top: 22px;
        .desireCompare {
            position: absolute;
            right: 18%;
        }
        .my-language-block {
            position: absolute;
            right: 54%;
            top: 18%;
            .for-select-len-2 {
                margin-left: 14px;
            }
        }
    }
    /*.contentHeader*/
    /*slider*/
    .my-home-banner-block-block {
        margin-left: 315px;
        .banner-batton-right {
            top: 44%;
        }
        .banner-batton-left {
            top: 44%;
        }
    }
    /*.slider*/
    /* .header*/
    /***********   GENERAL *************/
    #mediaPx {
        .leftColumn {
            width: 17.16888577435179%;
            margin-right: 2.8030833917309%;
            margin-top: 420px;
            .filter-general-wrapper .price-wrapper .price-filter-wrapper .min-max-wrapper input{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .rightColumn {
            width: 11.7729502452698%;
        }
        .mainColumn {
            width: 67.573231%;
            .allNews {
                margin-right: 4%;
            }
            .my-home-news-block {
                width: 46%;
                float: left;
                margin-right: 4%;
            }
            .my-seo-block {
                clear: both;
            }
            .titleOption {
                max-width: 936px;
            }
            .newMy {
                width: 960px;
            }
        }
        /*.mainColumn*/
        .homeCarousel {
            .slick-next {
                right: 6px;
            }
            .slick-prev {
                right: 46px;
            }
        }
        /*.homeCarousel*/
    }
}


/***********   .GENERAL *************/


/*min-width: 1427px*/


@media (min-width: 768px) {
    .sc_container {
        width: 100%;
        background: #fff;
        /*margin-top: 15px;*/
    }
}