$text-color: #fff;
$mainFont: OpenSansSemiBoldItalic;
$headingSizeTitle: 18px;
.mfilter-content {
    font-family: $mainFont;
    border: none !important;
    .mfilter-button {
        .mfilter-button-reset {
            color: #da5652;
            margin-left: 0;
        }
    }
    /*.mfilter-button*/
    > ul > {
        li {
            margin-bottom: 20px;
            /*border: 1px solid #cfcfcf;*/
            border-radius: 5px;
            box-shadow: 0px 0px 3px #dedede;
            .mfilter-heading {
                background: #06b4a2;
                /*border-radius: 5px;*/
                border-bottom-right-radius: 0;
                .mfilter-heading-content {
                    padding: 0;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    text-align: center;
                    .mfilter-heading-text {
                        width: 80%;
                        margin-left: 0;
                        span {
                            color: $text-color;
                            font-size: $headingSizeTitle;
                            font-family: $mainFont;
                            text-transform: uppercase;
                            padding-left: 24px;
                        }
                    }
                    .mfilter-head-icon {
                        margin-right: 12px;
                    }
                }
            }
            /*.mfilter-heading*/
            .mfilter-collapsed {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            .mfilter-content-opts {
                background: #fff;
                /*border-bottom-right-radius: 5px;*/
                /*border-bottom-left-radius: 5px;*/
                .mfilter-live-filter {
                    input[type="text"] {
                        background-position: -9px -98px;
                    }
                }
                /*.mfilter-live-filter*/
                .mfilter-opts-container {
                    /*border-top: 1px solid #e4e4e4;*/
                    .mfilter-options {
                        padding: 0;
                        padding-left: 24px;
                        .mfilter-tb {
                            display: block;
                            .mfilter-tb-as-tr {
                                display: block;
                                .mfilter-tb-as-td {
                                    border-top: none;
                                    display: block;
                                }
                                /*.mfilter-tb-as-td*/
                            }
                            /*.mfilter-tb-as-tr*/
                            .mfilter-option {
                                overflow: hidden;
                                .mfilter-col-input {
                                    width: 90%;
                                    padding: 0;
                                    float: left;
                                    input {
                                        display: none;
                                        &:checked +label:before {
                                            background-position: 0 -22px;
                                        }
                                    }
                                    label {
                                        position: relative;
                                        padding-left: 25px;
                                        &:before {
                                            position: absolute;
                                            background: url('../image/checkbox-filter.png') no-repeat;
                                            background-position: 0 1px;
                                            width: 24px;
                                            height: 24px;
                                            content: "";
                                            top: 5px;
                                            left: 0;
                                            position: absolute;
                                        }
                                    }
                                    input[type="radio"] {
                                        & + label:before {
                                            position: absolute;
                                            background: none;
                                            border: 1px solid #0088d4;
                                            border-radius: 50%;
                                            background-position: 0 1px;
                                            width: 14px;
                                            height: 14px;
                                            content: "";
                                            top: 5px;
                                            left: 0;
                                            position: absolute;
                                        }
                                        &:checked +label:before {
                                            /*background: #ADE1FF;*/
                                            border: 1px solid #0088d4;
                                        }
                                        &:checked +label:after {
                                            position: absolute;
                                            background: #0088d4;
                                            width: 6px;
                                            height: 6px;
                                            top: 9px;
                                            left: 4px;
                                            border-radius: 50%;
                                            content: "";
                                        }
                                    }
                                }
                                /*.mfilter-col-input*/
                                .mfilter-col-count {
                                    float: right;
                                    width: 6%;
                                    margin-right: 4%;
                                }
                                /*.mfilter-col-count*/
                            }
                            /*.mfilter-option*/
                        }
                        /*.mfilter-tb*/
                    }
                    /*.mfilter-options*/
                }
                /*.mfilter-opts-container*/
                .mfilter-live-filter {
                    padding: 10px 10px 10px 24px;
                    input[type="text"] {
                        background-position: -35px -99px;
                    }
                }
                /*.mfilter-live-filter*/
            }
            /*.mfilter-content-opts*/
        }
    }
}

.mfilter-content ul li[data-type="rating"] {
    .mfilter-option {
        overflow: hidden;
        img {
            margin-top: -4px;
            margin-left: 3px;
        }
        .mfilter-col-input {
            width: 90%;
            padding: 0;
            float: left;
            input {
                display: none;
                &:checked +label:before {
                    background-position: 0 -13px;
                }
            }
            label {
                position: relative;
                padding-left: 25px;
                padding-top: 1px;
                &:before {
                    position: absolute;
                    background: url('../image/checkbox-filter.png') no-repeat;
                    background-position: 0 1px;
                    width: 14px;
                    height: 14px;
                    content: "";
                    top: 3px !important;
                    left: 0;
                    position: absolute;
                }
            }
        }
        /*.mfilter-col-input*/
        .mfilter-col-count {
            float: right;
            width: 7%;
            margin-right: 1%;
        }
        /*.mfilter-col-count*/
    }
    /*.mfilter-option*/
}


/*rating*/

.mfilter-content ul li[data-type="search"] {
    .mfilter-options {
        padding-right: 18px !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}


/*search*/

.mfilter-content ul li[data-type="price"] {
    .mfilter-opts-container {
        padding-top: 13px;
        .mfilter-options {
            .mfilter-option {
                .mfilter-price-inputs {
                    margin-bottom: 16px;
                    span.priceTo {
                        margin-left: 25%;
                    }
                    .wrap1{
                        float: left;
                    }
                    #mfilter-opts-price-min,
                    #mfilter-opts-price-max {
                        width: 72px;
                        background: #f8f8f8;
                        min-width: 50px;
                        font-size: 13px;
                        color: #939393;
                    }
                    span {
                        color: #667;
                        font-size: 12px;
                        margin-right: 3px;
                        display: block;
                    }
                }
                /*.mfilter-price-inputs*/
                .mfilter-price-slider {
                    background: none !important;
                    padding: 0 0 32px 0px !important;
                    clear: both;
                    div.priceStatic {
                        width: 14%;
                        color: #939393;
                        margin-top: 8px;
                    }
                    div.priceMin {
                        margin-left: -14px;
                        float: left;
                    }
                    div.priceMax {
                        margin-right: -5px;
                        float: right;
                    }
                    div#mfilter-price-slider {
                        margin: 10px 12px 0 0 !important;
                        background: #eaeaea !important;
                        height: 2px !important;
                        position: relative;
                        &:after,
                        &:before {
                            content: "";
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            background: #eaeaea;
                            display: block;
                            position: absolute;
                            right: 0px;
                            top: -2px;
                        }
                        &:before {
                            left: 0;
                        }
                        .ui-slider-range {
                            background: #8cc3e1 !important;
                        }
                        .ui-slider-handle {
                            width: 20px !important;
                            height: 20px !important;
                            background: #0088d4 !important;
                            border-radius: 50%;
                            top: -0.75em !important;
                        }
                        /*.ui-slider-handle*/
                        /*.ui-slider-range*/
                    }
                    /*div#mfilter-price-slider*/
                }
                /*.mfilter-price-slider*/
            }
            /*.mfilter-option */
        }
        /*.mfilter-options*/
    }
    /*.mfilter-opts-container*/
}


/*price*/
