.spec-prod-cont-back {
    background: #EEEEEE;
    padding-top: 40px;
}

.optionsAllDetailed {
    clear: both;
    li {
        a {
            padding: 10px;
        }
    }
}

.propositionDetailed {
    border: 1px solid #dbdada;
    clear: both;
    margin-bottom: 30px;
    .propositionInnerWrap {
        margin-left: 40px;
        padding-top: 20px;
        .titleProp {
            display: none;
        }
        .slick-slider {
            margin-bottom: 0;
        }
        .slick-prev {
            left: -25px;
            top: 36%;
            border: 1px solid #dadada;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(-45deg);
            &:before {
                display: none;
            }
        }
        .slick-next {
            display: block;
            right: 14px;
            top: 36%;
            border: 1px solid #dadada;
            border-right: 0;
            border-bottom: 0;
            transform: rotate(135deg);
            &:before {
                display: none;
            }
        }
        .oneItem {
            width: 160px;
            float: left;
            position: relative;
            .product-thumb {
                border: none;
                .image {
                    width: 76px;
                    margin: 0 0 0 10px;
                }
                .percent {
                    position: absolute;
                    top: 60px;
                    right: 1px;
                    font-family: OpenSansRegular;
                    z-index: 1;
                }
                .priceDetailed {
                    position: absolute;
                    z-index: 1;
                    color: #fb6362;
                    font-size: 16px;
                    font-family: OpenSansBold;
                    right: 0;
                    top: 18px;
                    width: 75px;
                    text-align: right;
                    span {
                        float: right;
                        span {
                            font-size: 14px;
                            margin-left: 4px;
                        }
                    }
                }
                .caption {
                    min-height: 0;
                    padding: 0;
                    h4,
                    h4>a {
                        font-weight: normal;
                        font-size: 14px;
                        font-family: OpenSansREgular;
                        color: #565555;
                        margin: 10px 0;
                        line-height: 18px;
                    }
                }
                /*.caption*/
            }
            .adventageOption {
                position: relative;
                top: 3px;
                right: 4px;
                float: right;
                color: #06b4a2;
                height: 16px;
                cursor: pointer;
                line-height: 16px;
            }
            /*.adventageOption*/
            .dopItemDesc {
                display: none;
                /*outline: none;*/
            }
            /*.dopItemDesc*/
        }
    }
    /*.propositionInnerWrap*/
    .fontProposition {
        font: 52px OpenSansBold;
        float: left;
        margin: 1% 13px 0;
    }
    .deviderPropos {
        width: 1px;
        background: #dbdada;
        height: 130px;
        margin-top: 17px;
        margin: 0 30px;
        float: left;
    }
    .buy-proposition {
        float: left;
        margin-top: 33px;
        .priceTotal {
            font: 18px OpenSansItalic;
            color: #868585;
            .price-old,
            .price-new {
                font-family: OpenSansSemiBoldItalic;
            }
            .price-new {
                color: #fb6362;
            }
        }
        .afterButton {
            color: #06b4a2;
            font-family: OpenSansSemiBoldItalic;
            font-size: 18px;
        }
        .buyProp {
            float: none;
            margin-left: 53px;
            margin-right: 13px;
            width: 144px;
            height: 42px;
        }
    }
}


/*.propositionDetailed*/

.reviewBlock {
    width: 50%;
}

.leftBlockProduct {
    width: 200px;
    height: 235px;
    float: left;
    border-right: 1px solid #dbdada;
    #one-click-phone {
        width: 184px;
        padding-left: 10px;
        letter-spacing: 1px;
    }
}

.rightBlockProduct {
    float: left;
    margin-left: 15px;
    .delivery {
        margin-bottom: 11px;
        margin-right: 15px;
    }
}

.my-product-delivery-heading,
.my-product-garant-heading {
    margin-bottom: 16px;
    &:hover {
        color: #06b4a2;
    }
}

.optionColorModal {
    .radio {
        margin-top: 3px;
    }
    label {
        input[type="radio"] {
            display: none;
            &:checked + img {
                border-color: #ddd;
            }
        }
        img {
            border-radius: 50px;
            border-color: #fff;
            padding: 2px;
        }
    }
}

.giveFeedback {
    width: 160px;
    height: 30px;
    background: #fb6362 !important;
    border: none;
    font-size: 14px;
    padding: 0;
    &:hover {
        background: #fb6362;
    }
}

body[class^="product-product-"] {
    .buttons {
        background: #fff !important;
    }
}

.title_product_text {
    float: left;
}

.add-complect label > span + span {
    color: #8e8d8d;
    display: none;
}

.add-complect input:checked + label >span {
    display: none;
}

.add-complect input:checked + label > span + span {
    display: inline-block;
}

.product-thumb .dropdown-caption {
    display: none;
}

.complects {
    &>h2 {
        font-family: OpenSansBold;
        font-size: 18px;
        color: #fb6362;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
    }
    .my-slider-product-block {
        margin-right: 20px;
        position: relative;
        .product-thumb {
            min-height: 287px;
            .complects-show-options {
                i {
                    font-size: 25px;
                    position: absolute;
                    background: #fff;
                    right: 0;
                    padding: 3px 3px 3px 5px;
                    color: #06b4a2;
                    &.fa-minus-circle{
                        background: #fb6362;
                        color: #fff;
                    }
                }

            }
            .add-complect {
                margin-top: 8px;
                text-align: center;
                input {
                    margin: 0;
                }
                label {
                    span {
                        font-size: 16px;
                        color: #fb6362;
                    }
                }
            }
            // .dropdown-caption {
            //     position: absolute;
            //     background: #fff;
            //     width: 100%;
            //     border: 1px solid #ddd;
            //     border-top: 0;
            //     margin-left: -1px;
            //     height: auto;
            //     z-index: 2;
            //     padding: 5px 10px;
            // }
        }
        h4.complect_name {
            font-weight: bold;
            min-height: 32px;
            max-height: 32px;
            overflow: hidden;
            padding: 0 5px;
            a {
                padding: 0;
            }
        }
        .link_img {
            width: 100%;
        }
        .price {
            width: 58%;
            float: left;
            padding-left: 5px;
            .price-curent {
                font-family: OpenSansSemiBold;
                color: #3e3f3f;
                font-size: 17px;
                float: left;
                margin: 0;
            }
            .old-price {
                font-family: OpenSansSemiBold;
                font-size: 14px;
                color: #fb6362;
                margin-bottom: 5px;
                text-decoration: line-through;
            }
            .stock_price {
                font-size: 16px;
                color: #3e3f3f;
            }
        }
        .quantity {
            float: right;
            width: 41%;
            i {
                float: left;
                margin-top: 6px;
            }
            div.input_wrap {
                width: 40px;
                float: left;
                margin: 0 10px;
                input {
                    padding: 0;
                    text-align: center;
                    height: 26px;
                    background: #EEE;
                    box-shadow: none;
                }
            }
        }
    }
}

.footer-buy {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
        background: #fb6362;
    padding: 0px 10px;
    color: #fff;
    #by_complect{
        background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    }
}
