body[class^="product-search"] {
    .leftColumn {
        margin-top: 0 !important;
        .categories-block{
        	.categories-block-title{
        		font-size: 20px;
        	}
        	.finded-categories-list{
        		li{
        			a{
        				font-size: 14px;
        				color: #000;
        				&:hover{
        					text-decoration: underline;
        				}
        			}
        		}
        	}
        }
    }
    .mainColumn {
        .productsCategory {
            clear: both;
        }
        .titleOption {
            overflow: hidden;
            padding-top: 15px;
            margin-bottom: 17px;
            max-width: 455px;
        }
    }
    footer{
    	clear: both;
    }
}
