    .sb_title {
        font-family: OpenSansSemiBold;
        font-size: 24px;
        color: #fb6362 !important;
    }
    .sb_article_top{
        margin-left: 45px;
    }
    .article-description,
    .sb_topTitle p,
    .sb_topTitle p span {
        font-family: OpenSansRegular;
        font-size: 14px !important;
        line-height: 20px !important;
        overflow: hidden;
        max-height: 64px;
        color: #525252 !important;
        margin-top: 35px;
    }
    
    body[class="simple_blog-article-view"] {
        .sb_topTitle p {
            margin-top: 0;
        }
        .my-product-slider-heading {
            margin: 25px 0px 20px 0px;
        }
    }
    
    .article-thumbnail-image {
        margin: 15px 45px 15px 30px;
    }
    
    .date-added {
        h4 {
            color: #aaa;
        }
    }
    
    .sp_oneNews {
        position: relative;
        margin-bottom: 65px;
        margin: 0 0 0 30px;
    }
    
    .sb_more {
        color: #000;
        position: absolute;
        bottom: 12px;
        font-size: 14px;
        padding-left: 30px;
        height: 21px;
        i{
            position: relative;
    right: 110%;
    top: 3px;
    font-size: 22px;
    color: #717171;
        }
        &:hover, &:hover i {
            color: #06b4a2;
        }
    }
    
    .sb_column {
        background: #fff;
        border-top: 1px solid transparent;
        margin-top: 20px;
    }
    
    .article-info {
        background: #fff;
        padding: 1px 10px;
        margin-top: 13px;
        overflow: hidden;
    }
    
    @media (min-width: 768px) {
        body[class="simple_blog-category"] {
            .container {
                width: 100%;
            }
        }
    }
    
    .sb_commentTitle {
        margin: 10px 0;
    }
    
    .buttonPadding {
        padding-top: 5px;
    }
    
    .sb_page_count_info {
        float: right;
        margin: 11px 16px;
    }
    
    .answer_it {
        cursor: pointer;
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 29px;
        margin-bottom: 6px;
        background: #fb6362;
        border: none;
        font-family: OpenSansRegular;
        color: #f7f7f7 !important;
        font-size: 14px;
        border-radius: 5px;
        margin-top: 10px;
        box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
        display: block;
    }
    
    .del_comment {
        /*visibility: hidden;*/
        margin-top: -26px;
        display: block !important;
        margin-left: 642px;
        cursor: pointer;
    }
.sb_head_title{
    color: #fb6362;
}