.simplecheckout-left-column {
    width: 37% !important;
}

.simplecheckout-right-column {
    width: 62% !important;
    /*float: none !important;*/
    max-width: 10000px !important;
}

.label-step1 {
    color: #000000;
    font-family: OpenSansBold;
}

.customerRegistredlink {
    color: #000000;
    font-family: OpenSansRegular;
}

.simple-step {
    background: none !important;
    font: 14px OpenSansSemiBoldItalic;
    color: #000 !important;
}

.simple-step-current {
    background: none !important;
    color: #fa7b7a !important;
}

.simple-step-delimiter {
    font: 14px OpenSansSemiBoldItalic;
}

body[class^="checkout-"] {
    .breadcrumb {
        display: none;
    }
    .my-header-menu-absolute {
        display: none;
    }
}

.sc_content {
    background: #fff;
    /*margin-top: 15px;*/
}

.simple-content .buttons {
    background: #fff !important;
}


/*checkout*/

table.simplecheckout-cart {
    th {
        background: #e6e6e6;
        border-right: 1px solid #d2cfc9;
        font-family: OpenSansSemiBold;
        font-size: 14px;
        color: #000;
        text-align: center;
    }
    th.price {
        text-align: center;
    }
    tbody {
        tr {
            td {
                padding: 0;
                border-right: 1px solid #d2cfc9;
                font-family: OpenSansRegular;
                color: #000;
                font-size: 14px;
            }
            td.price {
                text-align: center;
                vertical-align: middle;
            }
            td.quantity {
                vertical-align: middle;
            }
            td.total {
                vertical-align: middle;
                text-align: center;
            }
            td.name {
                text-align: left;
                /*border-right: 1px solid #d2cfc9;*/
                .opt {
                    width: 465px;
                    margin-left: 7px;
                    a.pr_img {
                        display: block;
                        float: left;
                    }
                    a.product_name {
                        font-family: OpenSansSemiBold;
                        font-size: 14px;
                        color: #fb6362;
                        margin-left: 5px;
                        margin-top: 12px;
                        width: 80%;
                        overflow: hidden;
                        max-height: 57px;
                        display: inline-block;
                    }
                    .options {
                        margin-left: 85px;
                        .one_opt {
                            font: 14px OpenSansRegular;
                            color: #767676;
                        }
                    }
                }
            }
        }
        .totalInfo {
            td.title {
                padding: 0;
                span {
                    padding: 8px;
                    display: block;
                    font-size: 14px;
                    color: #000;
                    font-family: OpenSansSemiBold;
                }
            }
            td.price {
                text-align: left;
                span {
                    margin-left: 7px;
                    font-family: OpenSansSemiBold;
                }
            }
        }
    }
}

#simplecheckout_payment,
#simplecheckout_shipping {
    .radio {
        label {
            position: relative;
            span.radio_button {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                background: url('../image/radio-button-simple.png') no-repeat;
                width: 13px;
                height: 13px;
                background-position: 0 -13px;
            }
            input {
                display: none;
                &:checked + span.radio_button {
                    background: url('../image/radio-button-simple.png') no-repeat;
                    background-position: 0px 0px;
                }
            }
        }
    }
}

#simplecheckout_shipping {
    .checkout-heading {
        background: url('../image/shipping.png') no-repeat;
        padding-left: 39px;
        padding-bottom: 0;
        font: 12px OpenSansBold;
        color: #000;
    }
    select[name="shipping[novaposhta_warehouse]"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url('../image/dropdown-select.png') 98% 50% no-repeat #f4f4f4;
        border: 1px solid #c6c6c6;
        border-right: 0;
        height: 28px;
        border-bottom: 0;
    }
    .step1 {
        margin-top: 10px;
        .label-step1 {
            &:before {
                display: none;
            }
            &:after {
                content: '* ';
                color: #F00;
                font-weight: bold;
            }
        }
    }
}

#simplecheckout_payment {
    .checkout-heading {
        background: url(../image/payment.png) no-repeat;
        padding-left: 39px;
        padding-bottom: 0;
        font: 12px OpenSansBold;
        color: #000;
    }
    .simplecheckout-block-content {
        .radio {
            margin: 0 0 10px 0;
            display: block;
        }
    }
}

#simplecheckout_cart {
    table.simplecheckout-cart {
        thead {
            th.total {
                text-align: center;
            }
        }
        tbody {
            .opt {
                width: 365px;
                a.product_name {
                    width: 98%;
                    margin-left: 0;
                }
            }
            td.model {
                vertical-align: middle;
                padding: 0 5px;
            }
            td.quantity {
                padding: 0 10px;
                input {
                    border-radius: 0;
                    box-shadow: none;
                    text-align: center;
                    padding: 0;
                    font-size: 14px;
                }
                span.input-group-btn {
                    padding-left: 10px;
                    .delete {
                        background: #00B5A3 !important;
                        border: 1px solid #00B5A3 !important;
                    }
                    .reload {
                        background: #fb6362!important;
                        border: 1px solid #fb6362 !important;
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}

.prev_go {
    border: none!important;
    background: 0 0!important;
    box-shadow: none!important;
    font-size: 14px;
    color: #777;
    text-shadow: none;
    &:active,
    &:hover {
        color: #969E96;
        text-decoration: underline;
    }
}

#simplecheckout_customer {
    .checkout-heading {
        background: url(../image/contact_data.png) no-repeat;
        padding-left: 39px;
        padding-bottom: 0;
        font: 12px OpenSansBold;
        color: #000;
    }
    .label-step1 {
        font-size: 14px;
    }
}

.simplecheckout-summary-info {
    tr {
        td {
            padding: 7px !important;
        }
    }
}

.simplecheckout-button-block {
    .simplecheckout-button-right {
        input[type="submit"] {
            background: #fb6362!important;
            box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, .76)!important;
            border: none;
        }
    }
}
