.filter-general-wrapper {
    background: #fff;
    .price-wrapper {
        .price-filter-wrapper {
            .min-max-wrapper {
                font-size: 16px;
                overflow: hidden;
                padding-top: 15px;
                input {
                    margin-left: 12px;
                    margin-right: 12px;
                    font-size: 16px;
                }
                #min-price {
                    float: left;
                    input {
                        width: 55px;
                        text-align: center;
                    }
                }
                #max-price {
                    float: left;
                    input {
                        width: 55px;
                        text-align: center;
                    }
                }
            }
            // .min-max-wrapper
            #price-slider {
                clear: both;
                margin-top: 25px;
                .noUi-base {
                    .noUi-handle {
                        top: -8px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50px;
                    }
                }
                // .noUi-base
            }
            // .price-slider
        }
        // .price-filter-wrapper
        .min-txt,
        .max-txt {
            margin-top: 7px;
            font-size: 14px;
        }
        .min-txt {
            float: left;
        }
        .max-txt {
            float: right;
        }
    }
    /*.price-wrapper*/
    .category-filter {
        background: #fff;
        clear: both;
        .title-price-filter {
            background: #06b4a2;
            color: #fff;
            font-size: 18px;
            margin: 0;
            // padding: 13px 0 8px 48px;
            text-transform: uppercase;
        }
        /*.title-price-filter*/
        .checkbox {}
        /*.checkbox */
    }
    /*.category-filter*/
    h2.title-price-filter {
        background-color: #06b4a2;
        color: #fff;
        text-transform: uppercase;
        font: 18px OpenSansRegular;
        margin: 0;
        height: 36px;
        text-align: center;
        line-height: 35px;
        position: relative;
        span.arrow-close {
            display: none;
        }
        span.arrow-open {
            position: absolute;
            transition: transform 0.5s ease;
            right: 9px;
            top: 8px;
            width: 19px;
            height: 19px;
        }
    }
    // .title-price-filter
    div.checkbox {
        margin: 0;
        padding-top: 15px;
        label {
            display: block;
            margin-bottom: 10px;
            input {
                display: none;
                &:checked + span.checkbox-material {
                    background-position-y: -23px;
                }
            }
            span.checkbox-material {
                display: block;
                float: left;
                margin-right: 10px;
                width: 23px;
                height: 23px;
                background: '' url('../image/smartfilter/checkbox.png') 0 0 no-repeat;
            }
            div.title {
                display: inline-block;
                margin-top: 2px;
                color: #999898;
                font-size: 14px;
            }
        }
    }
    // div.checkbox
    .availability {
        .sample1 {
            padding-left: 20px;
            padding-top: 15px;
            .radio {
                margin-bottom: 10px;
                label {
                    padding: 0;
                    input {
                        display: none;
                        &:checked + div.circle::after {
                            display: block;
                        }
                    }
                    div.circle {
                        // display: block;
                        width: 13px;
                        height: 13px;
                        border: 1px solid #667;
                        border-radius: 50%;
                        position: relative;
                        background: #ECECEC;
                        float: left;
                        margin-right: 10px;
                        &:after {
                            display: none;
                            content: "";
                            position: absolute;
                            top: 3px;
                            left: 3px;
                            background: #667;
                            width: 5px;
                            height: 5px;
                            border-radius: 50px;
                        }
                    }
                    div.title {
                        margin-top: -3px;
                        color: #999898;
                        float: left;
                        font-size: 14px;
                    }
                }
            }
        }
        // .sample1
    }
    // .availability
    .list-choosen-filters-block {
        #list-filters {
            padding-left: 20px;
            padding-top: 10px;
        }
        .list-unstyled {
            span,
            li {
                color: #999898;
                font-size: 14px;
                text-transform: capitalize;
                margin-bottom: 5px;
                display: block;
            }
            .list-filter-title {
                span {
                    text-align: left;
                    font-size: 14px;
                    float: left;
                    color: #fa7b7a;
                    margin-right: 10px;
                    margin-left: 0px;
                }
                ul {
                    float: left;
                    li {
                        float: left;
                        background: #06b4a2;
                        border-radius: 6px;
                        text-align: center;
                        padding: 2px 5px;
                        color: #fff;
                        font-size: 15px;
                        margin: -2px 10px 11px 0;
                        box-shadow: 1px 1px 0px 0px #6b6b6b;
                        i{
                            font-size: 11px;
    padding-left: 5px;
    position: relative;
    top: -2px;
                        }
                    }
                }
            }
            .list-filter-item {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .reset-panel {
            text-align: center;
            padding: 10px 0;
            background: #fff;
            clear: both;
        }
        #button-filter {
            background: #fb6362;
            border: none;
            i{
                margin-left: 8px;
            }
        }
    }
    .close-filter {
        height: 34px !important;
        overflow: hidden;
        margin-bottom: 10px;
        h2.title-price-filter {
            .arrow-open {
                transform: rotate(-180deg);
            }
        }
    }
}

// .list-choosen-filters-block

/*.filter-general-wrapper*/
