@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"), url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.my-conteiner {
    max-width: 1440px;
    min-width: 943px;
    margin: auto;
    /*padding: 0px 15px;*/
}

.my-top-header {
    height: 40px;
    padding: 0px 0px 0px 10px;
}

.my-top-header-link {
    font-family: MyriadProRegular;
    font-size: 12px;
    color: #000;
    line-height: 40px;
    margin-right: 30px;
    text-transform: uppercase;
}

.my-top-header-text {
    float: right;
    line-height: 40px;
    font-family: OpenSansRegular;
    color: #000;
    font-size: 12px;
    padding: 0px 10px 0px 0px;
    margin: 0px;
}

.my-top-header-text a {
    line-height: 40px;
    font-family: OpenSansRegular;
    color: #000;
    font-size: 12px;
    text-decoration: underline;
}

.my-header {
    /*height: 80px;*/
}

.my-header-geo {
    color: #999898;
    font-family: OpenSansRegular;
    font-size: 14px;
    bottom: 0px;
    margin: 0px;
    text-align: center;
}

.my-header-geo a {
    color: #999898;
    font-family: OpenSansRegular;
    font-size: 14px;
    text-decoration: underline;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    word-wrap: break-word;
}

.my-language-block {
    float: right;
    margin-top: 15px;
    margin-left: 8.14814814814815%;
}

.for-select-len {
    font-family: OpenSansBold;
    color: #fb6362;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 14px;
}

.for-select-len-2 {
    font-family: OpenSansBold;
    color: #999898;
    font-size: 14px;
    text-transform: uppercase;
}

.city {
    float: left;
    margin-left: 4%;
}

.contentHeader {
    float: right;
    width: 28.63202545068929%;
    margin-right: 2.96924708377519%;
}

.contentHeader .desireCompare {
    margin-top: 8px;
    float: left;
}

.contentHeader .desireCompare a {
    padding: 0 7px;
}

.my-header-call-back {
    float: right;
    width: 160px;
    height: 30px;
    background: #fb6362;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}

.my-header-compire {
    font-family: OpenSansSemiBold;
    color: #999898;
    font-size: 14px;
    border-left: solid 2px #dbdada;
    border-right: solid 2px #dbdada;
    float: left;
}

.my-spec-con-prod {
    background: #fff;
    padding: 30px 45px;
    padding: 30px 25px 30px 25px;
    margin-bottom: 30px;
    overflow: hidden;
}

.locking-complect:before {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1400;
}

.my-header-compire span {
    margin-right: 2px;
}

.my-header-compire:hover {
    color: #fb6362;
}

.my-header-wish {
    font-family: OpenSansSemiBold;
    color: #999898;
    font-size: 14px;
    float: left;
}

.my-header-wish span {
    margin-right: 5px;
}

.my-header-wish:hover {
    color: #fb6362;
}

.cartHeader {
    width: 16.43690349946978%;
    float: right;
}

.my-header-cart-button {
    width: 100%;
    height: 80px;
    background: #eee;
    border: none;
    float: right;
    border-right: solid 1px #e4e2e2;
}

.my-shop-cart {
    color: #06b4a2;
    font-size: 19px;
    margin-left: 3px;
    background-image: url("../image/cart.png");
    background-repeat: no-repeat;
    height: 22px;
    width: 24px;
    display: inline-block;
    position: relative;
    top: 5px;
}

#cart-total {
    color: #06b4a2;
    font-family: OpenSansSemiBold;
    font-size: 14px;
}

.my-shop-cart-total {
    color: #000;
}

.my-header-line {
    background: #fb6362;
    /*max-width: 1600px;*/
    min-width: 943px;
    margin: auto;
    height: 1px;
}

.my-header-search {
    float: left;
    height: 60px;
    margin: 0px;
    margin-left: 15px;
    margin-bottom: 0 !important;
}

.my-header-search-text {
    line-height: 60px;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
    color: #06b4a2;
    font-family: OpenSansSemiBold;
    margin: 0px;
    margin-right: 5px;
}

#cart {
    margin: 0px;
}

#search {
    position: relative;
}

.my-header-search-input {
    width: 240px;
    height: 30px;
    border-radius: 3px 0px 0px 3px;
    background: #e6e6e6;
    margin-top: 13px;
    border-top: solid 1px #bbb;
    border-left: solid 1px #bbb;
    border-right: none;
    border-bottom: none;
    padding-left: 8px;
    float: left;
}

.my-header-search-input:focus {
    outline: none;
}

.my-header-search-button {
    width: 40px;
    height: 30px;
    background: #06b4a2;
    border-top: solid 1px #bbb;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-radius: 0px 3px 3px 0px;
    float: left;
    margin-top: 13px;
    color: #fff;
}

.my-header-phone-block {
    float: right;
    margin-right: 15px;
}

.my-header-phone {
    float: right;
    line-height: 60px;
    font-family: OpenSansRegular;
    color: #fb6362;
    font-size: 16px;
    margin: 0px 14px;
    position: relative;
}

.my-header-phone-block .my-header-phone:first-child {
    margin-right: 0;
}

.my-header-phone::before {
    content: '';
    display: inline-block;
    width: 1px;
    background: #888888;
    height: 20px;
    position: absolute;
    bottom: 32%;
    left: -15px;
}

.my-header-phone-block .my-header-phone:nth-child(3)::before {
    visibility: hidden;
}

.my-header-phone-line {
    height: 13px;
    width: 2px;
    background: #bbb;
    display: inline-block;
    line-height: 60px;
    margin: 0px 7px 0px 7px;
}

.my-header-phone-circle {
    float: right;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: solid 2px #fb6362;
    margin-top: 13px;
    margin-right: 7px;
}

.my-header-phone-circle span {
    text-align: center;
    line-height: 33px;
    width: 100%;
    color: #fb6362;
    font-size: 18px;
}

.my-header-menu-absolute {
    position: absolute;
    width: 245px;
    height: 40px;
    left: 15px;
    bottom: -40px;
    background: #06b4a2;
    z-index: 4;
}

.my-header-menu {
    height: 40px;
    width: 245px;
    position: relative;
    background: #06b4a2;
}

.my-product-slider-heading {
    font-family: OpenSansBold;
    font-size: 18px;
    color: #fb6362;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    clear: both;
}

span.last-word {
    color: #000000;
}

.my-header-menu-heanding {
    line-height: 40px;
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #eee;
    text-transform: uppercase;
    padding-left: 20px;
    background: #06b4a2;
}

.my-header-drop {
    position: absolute;
    top: 40px;
    left: 0px;
    list-style: none;
    width: 245px;
    padding-left: 13px;
    padding: 0px;
    z-index: 3;
    border-right: solid 1px #bfbfbf;
    /*display: none;*/
}

.my-header-menu:hover .my-header-drop {
    /*display: block;*/
}

.my-header-drop-li {
    min-height: 39px;
    width: 100%;
    background: #f0f0f1;
    padding-left: 20px;
    border-bottom: solid 1px #d7d8d9;
    position: relative;
    max-height: 50px;
    padding-top: 10px;
    text-align: left;
}

.my-header-drop-li:hover .my-header-drop2 {
    display: block;
}

.my-cat-right-arrow {
    position: absolute;
    right: 10px;
    top: 13px;
}

.my-header-drop2 {
    position: absolute;
    right: -248px;
    top: 0px;
    width: 245px;
    display: none;
    z-index: 3;
    padding: 0px;
    border-right: solid 1px #bfbfbf;
}

.my-header-drop3 {
    position: absolute;
    right: -248px;
    top: 0px;
    width: 245px;
    display: none;
    z-index: 3;
    padding: 0px;
}

.my-header-drop-li3 {
    display: inline-block;
    min-height: 39px;
    width: 100%;
    background: #f0f0f1;
    padding-left: 20px;
    border-bottom: solid 1px #d7d8d9;
    position: relative;
    max-height: 50px;
    padding-top: 10px;
    text-align: left;
}

.my-header-drop-li3:hover {
    background: #fff;
    border-right: solid 3px #06b4a2;
}

.my-header-drop-li2:hover .my-header-drop3 {
    display: block;
}

.my-header-drop-li2 {
    display: inline-block;
    min-height: 39px;
    width: 100%;
    background: #f0f0f1;
    padding-left: 20px;
    border-bottom: solid 1px #d7d8d9;
    position: relative;
    max-height: 50px;
    padding-top: 10px;
    text-align: left;
}

.my-header-drop-li2:hover {
    background: #fff;
    border-right: solid 3px #06b4a2;
}

.my-header-drop-li a {
    line-height: 18px;
    font-family: OpenSansSemiBold;
    font-size: 15px;
    color: #333;
    width: 100%;
    display: inline-block;
}

.my-header-drop-li:hover {
    background: #fff;
    border-right: solid 3px #06b4a2;
}

.my-header-drop-li:hover i {
    right: 7px;
}

.my-header-drop-li2:hover i {
    right: 4px;
}

.my-home-banner-block {
    /*max-width: 1900px;*/
    /*min-width: 943px;*/
    /*margin: auto;*/
}

.my-banner-img {
    margin: auto;
    width: 100%;
}

.my-home-banner-block-block {
    position: relative;
    background: #f7f7f7;
    margin-bottom: 40px;
    /*width: 60%;*/
    margin-left: 285px;
    max-width: 1140px;
}

.slick-slide {
    /*width: auto !important; */
}

#slideshow0 {
    /*width: auto;*/
}

.my-banner-bottom {
    height: 51px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: #fff;
    opacity: 0.7;
    display: none;
}

.banner-batton-left {
    position: absolute;
    left: 1%;
    top: 36%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #000;
    color: #fff;
    z-index: 3;
    opacity: 0.3;
}

.banner-batton-right {
    position: absolute;
    right: 1%;
    top: 36%;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: #000;
    color: #fff;
    z-index: 3;
    opacity: 0.3;
}

.banner-batton-right span,
.banner-batton-left span {
    line-height: 45px;
    width: 100%;
    text-align: center;
    display: block;
    font-size: 20px;
}

.my-home-rev-heanding {
    font-size: 18px;
    text-transform: uppercase;
    font-family: OpenSansSemiBold;
    color: #fb6362;
    margin: 0 0 25px 0;
}

.my-home-rev {
    background: #f6f3f3;
    padding: 25px 20px 26px 20px;
    font-size: 13px;
    position: relative;
}

.my-home-rev:after {
    display: block;
    content: "";
    border-left: 22px solid #f6f3f3;
    border-bottom: 18px solid transparent;
    position: absolute;
    bottom: -18px;
    left: 40px;
}

.my-home-rev p {
    font-family: PTSansItalic;
    color: #747474;
    font-size: 13px;
}

.my-home-rev-bottom {
    margin-top: 12px;
    font-family: OpenSansSemiBold;
    font-size: 13px;
}

.my-home-rev-bottom span {
    margin-right: 25px;
    font-size: 20px;
    color: #333333;
    background: url('../image/review-icon.png') no-repeat;
    width: 27px;
    height: 29px;
}

.my-home-rev-bottom span::before {
    color: #654565;
}

.my-home-facebook-text {
    font-family: OpenSansSemiBold;
    font-size: 13px;
    color: #838383;
}

.my-home-facebook-text span {
    font-size: 26px;
}

.my-slider-product-block {
    width: 215px;
    float: left;
    margin: 0px auto 25px auto;
    background: #fff;
    /*padding: 0 0 6px 0;*/
    margin-right: 25px;
    position: relative;
}

.my-slider-product-block-catalog {
    width: 170px;
    margin: 0px auto 20px auto;
    background: #fff;
    padding: 3px;
}

.coolfilter-item-image a {
    font-family: OpenSansItalic;
    font-size: 14px;
    color: #999898;
    line-height: 30px;
    display: block;
}

.coolfilter-item-image a:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../image/filterno.gif");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.my-filter-image-label input:checked + a:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../image/filtercheck.gif");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    margin-right: 5px;
}

.coolfilter-item-image a img {
    float: right;
}

.my-filter-image-label {
    display: block;
    padding: 0px 17px 0px 22px;
}

.my-filter-image-label input {
    display: none;
}

.my-slider-product-button-block {
    overflow: hidden;
    margin-top: 10px;
}

.ratingReview {
    display: block;
    float: left;
    margin-left: 3px;
    height: 22px;
}

.ratingReview:hover {
    border-bottom: 1px solid grey;
}

.my-cat-star-yes {
    background-image: url("../image/catratyes.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    float: left;
}

.my-cat-star-no {
    background-image: url("../image/catratno.png");
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    display: inline-block;
    float: left;
}

.my-catalog-product-ratang {
    margin: 0px;
    position: relative;
    margin-right: 2px;
    display: inline-block;
}

.my-slider-product-img {
    width: 100%;
    padding: 0 3px;
}

.my-slider-product-name {
    font-family: OpenSansSemiBold;
    font-size: 15px;
    color: #565555;
    margin-bottom: 15px;
    padding: 0 5px;
    margin: 0;
    margin-top: 8px;
    max-height: 43px;
    min-height: 43px;
    overflow: hidden;
}

.my-slider-product-review {
    color: #333333;
    font-family: OpenSansSemiBold;
    font-size: 13px;
    margin-top: 2px;
    display: block;
    float: right;
}

.cartDesireCompare {
    float: right;
    margin-right: 14px;
}

.cartDesireCompare button span {
    font-size: 22px;
}

.my-slider-wishlist {
    border: none;
    background: none;
    color: #fb6362;
    padding: 0px;
}

.my-slider-compare {
    border: none;
    background: none;
    color: #0d0d0d;
    padding: 0px;
    margin-left: 10px;
}

.my-slider-product-price {
    font-family: OpenSansSemiBold;
    color: #3e3f3f;
    font-size: 17px;
    float: left;
    margin: 0;
    text-align: center;
    min-width: 100px;
    position: relative;
    padding-top: 6px;
}

.my-slider-product-price span span {
    display: inline-block;
    margin-left: 3px;
    font-size: 9px;
}

.my-slider-product-price span span:after {
    content: '.';
}

.devider {
    width: 2px;
    height: 33px;
    margin: 3px;
    float: left;
    background: #ededed;
}

.my-slider-product-buy {
    width: 106px;
    height: 30px;
    border: none;
    margin: 0;
    border-radius: 3px;
    background: #06b4a2;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}

.my-buy-cart {
    background: url('../image/buyCart.png') no-repeat;
    width: 21px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}

.my-slider-product-button-block2 {
    margin-top: 16px;
    clear: both;
    padding-bottom: 10px;
}

.my-slider-product-special {
    font-family: OpenSansBold;
    display: block;
    color: #06b4a2;
    font-size: 19px;
    padding-right: 3px;
    line-height: 10px;
    margin-top: 11px;
    margin-bottom: 5px;
    text-align: left;
    position: absolute;
    left: 10%;
}

.my-slider-product-nospecial {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #fb6362;
    margin-bottom: 5px;
    text-decoration: line-through;
    position: absolute;
    top: -6px;
    right: 3px;
}

.my-slider-product-nospecial span {
    text-decoration: line-through;
}

.my-home-news-block {
    margin: 0 0 28px 0;
    width: 96.6%;
}

.my-home-news-heading {
    font-family: OpenSansBold;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    width: 77%;
    margin: 0 0 20px 0;
    clear: both;
    display: inline-block;
}

.allNews {
    float: right;
    font-size: 12px;
    color: #707070;
    text-decoration: underline !important;
    margin-right: 3.6%;
}

.more {
    font-size: 12px;
    color: #707070;
    text-decoration: underline !important;
}

.my-home-news-main {
    width: 100%;
    border-left: solid 3px #8f8f8f;
    padding: 26px;
    background: #fff;
    margin: auto;
}

.my-home-news-main:hover {
    border-color: #fb6362;
}

.my-home-news-main h3 {
    font-size: 18px;
    font-family: OpenSansSemiBold;
    color: #474747;
    margin: 0 0 10px 0;
}

.my-home-news-block p {
    font-family: OpenSansRegular;
    font-size: 11px;
    color: #707070;
    margin: 0;
    margin-bottom: 8px
}

.my-home-news-date {
    display: block;
    font-size: 9px;
    float: right;
}

.my-home-news-two {
    width: 100%;
    background: #fff;
    border-left: solid 3px #8f8f8f;
    padding: 26px;
    margin: 0 0 47px 0;
}

.my-home-news-two:hover {
    border-left: solid 3px #fb6362;
}

.my-home-news-two h3 {
    font-size: 18px;
    font-family: OpenSansSemiBold;
    color: #474747;
    margin-top: 0px;
}

.my-seo-block {
    width: 98%;
    margin: 0 0 60px 0;
    padding: 25px;
    background: #fff;
}

.my-seo-heading {
    font-family: Open Sans;
    color: #fb6362;
    font-size: 48px;
    line-height: 48px;
    margin: 0 0 30px;
}

.my-seo-block p {
    font-size: 13px;
    color: #565555;
    font-family: OpenSansRegular;
    margin-bottom: 30px;
}

.my-seo-block p:last-child {
    margin-bottom: 0;
}

.my-footer-top {
    width: 100%;
    height: 40px;
    background-image: url("../image/footer_top.jpg");
    background-repeat: repeat;
}

.my-footer-heading {
    font-family: RobotoBold;
    font-size: 18px;
    color: #323232;
    text-transform: uppercase;
    margin: 9px 0 26px 0;
}

.my-footer-heading a {
    font-family: OpenSansBold;
    font-size: 18px;
    color: #323232;
    text-transform: uppercase;
}

.footer-color-block {
    background-image: url("../image/footer_back.jpg");
    background-repeat: repeat;
}

.my-footer-text {
    font-family: OpenSansRegular;
    font-size: 13px;
    color: #565555;
    padding-right: 25px;
    padding-left: 20px;
    margin-top: 20px;
}

.my-footer-text2 {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #565555;
    display: block;
    margin-bottom: 8px;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (min-width: 1423px) {
    .my-footer-text2 span {
        display: block;
        margin-top: 30px;
    }
    .my-footer-text span {
        margin-top: 13px;
        display: block;
    }
}

.ml55 {
    margin-left: 0px;
    padding: 0;
}

.footer-right-block {
    margin-bottom: 25px;
}

.footer-block-phone {
    /*width: 250px;*/
    display: inline-block;
}

.textPhone {
    float: left;
}

.phone,
.text-email {
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
}

.phoneNumber {
    /*text-align: right;*/
    padding-right: 7px;
    padding-top: 1px;
    margin-bottom: 20px;
}

.footer-block-comp {
    vertical-align: top;
    display: inline-block;
    padding-left: 5%;
}

.footer-block-text {
    font-size: 14px;
    color: #393939;
    font-family: OpenSansSemiBold;
    margin-bottom: 0;
}

.addres {
    margin-top: 15px;
    margin-bottom: 20px;
}

.addres img {
    margin-top: 18px;
}

.footer-block-text2 {
    font-size: 14px;
    color: #393939;
    font-family: OpenSansSemiBold;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-shadow: 0 1px 1px #fff;
}


}
footer a {
    color: #4bb1a8;
    cursor: pointer;
}
.footer-button-block {
    margin-bottom: 30px;
}
.footer-button-block a {
    margin: 0 3px;
}
.footer-button {
    width: 33px;
    height: 33px;
    border: solid 2px #fb6362;
    border-radius: 50%;
    color: #fb6362;
    margin: 0px 5px;
}
.footer-button-block .footer-button:nth-child(2) {
    margin-left: 0;
}
.footer-button span {
    color: #fb6362;
}
.my-footer-input-block {
    margin-bottom: 18px;
}
.my-footer-input-block .my-footer-heading {
    margin: 0 0 16px 0;
}
.my-footer-input {
    width: 234px;
    height: 40px;
    padding-left: 18px;
    border-left: solid 1px #b7a7b2;
    border-top: solid 1px #b7a7b2;
    border-right: none;
    border-bottom: none;
    background: #cbb9c5;
    border-radius: 3px;
    margin-right: 2%;
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #4a484a;
}
.my-footer-input::-webkit-input-placeholder {
    color: #4a484a;
}
.my-footer-input::-moz-placeholder {
    color: #4a484a;
}

/* Firefox 19+ */
.my-footer-input:-moz-placeholder {
    color: #4a484a;
}

/* Firefox 18- */
.my-footer-input:-ms-input-placeholder {
    color: #4a484a;
}
.my-footer-submit {
    width: 150px;
    font-family: OpenSansBold;
    height: 40px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #ca3e3d;
    background: #fb6362;
    position: relative;
    top: -2px;
    padding-top: 3px;
    text-transform: uppercase;
    font-size: 14px;
}
.imagePayment {
    margin: 0px 0 10px 0;
}
.bottom-site {
    height: 50px;
    background-image: url("../image/bottomsite.jpg");
    background-repeat: no-repeat;
}
.my-top-bottom-link {
    line-height: 50px;
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #c3c3c3;
    margin: 0px 7px;
    text-decoration: none !important;
}
.my-top-bottom-link span {
    position: relative;
}
.my-top-bottom-link span:after {
    content: '.';
    color: #c3c3c3;
    position: absolute;
    top: -19px;
    left: 7px;
}
.my-home-special-block {
    /*width: 177px;*/
    
    margin: 27px auto 0px auto;
}
.my-home-special-block img {
    width: 100%;
}
.breadCrombs {
    padding-top: 9px;
}
.my-breadcrumb {
    list-style: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
    padding-left: 302px;
}
.my-breadcrumb li {
    display: inline-block;
}
.my-breadcrumb li a {
    font: 14px OpenSansSemiBoldItalic;
    color: #000;
}
.my-breadcrumb li a:hover {
    color: #fb6362;
}
.my-breadcrumb li:last-child a {
    color: #fa7b7a;
}
.my-breadcrumb span {
    margin: 0px 7px;
}
.my-breadcrumb li:last-child span {
    display: none;
}
.my-cool-ul {
    list-style: none;
    padding: 0px;
    padding-left: 22px;
}
.my-cool-block {
    width: 95%;
    margin: auto;
    background: #fff;
}
.my-cool-heading {
    font-family: OpenSansSemiBoldItalic;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    line-height: 38px;
    background: #06b4a2;
    text-align: center;
}
.my-cool-slider-block {
    width: 95%;
    margin: auto;
    background: #fff;
    margin: 20px auto;
}
.active_my a {
    font-family: OpenSansItalic;
    font-size: 14px;
    color: #999898;
    line-height: 30px;
}
.active_my input {
    display: none;
}
.active_my a:before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("../image/filterno.gif");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.active_my input:checked + a:before {
    content: '';
    height: 24px;
    width: 24px;
    background-image: url("../image/filtercheck.gif");
    background-repeat: no-repeat;
    position: relative;
    top: 7px;
    margin-right: 5px;
}
.my-cat-name {
    text-transform: uppercase;
    font-size: 18px;
    font-family: OpenSansSemiBold;
    color: #000;
    float: left;
    margin: 0;
    max-width: 120px;
}
.no_filter{
    padding-left: 15px;
}
.my-sort-block {
    float: right;
    margin-top: -10px;
}
#input-sort {
    display: inline-block;
    width: 240px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../image/select.gif") #f4f4f4;
    color: #999898;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    font-size: 14px;
    font-family: OpenSansItalic;
}
.my-sort-text {
    font-family: OpenSansSemiBoldItalic;
    font-size: 14px;
    color: #666;
}
.product-list {
    /*min-height: 300px;*/
}
.my-smart-pagi {
    border: none;
    background: none;
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #000;
    box-shadow: none;
    text-transform: uppercase;
}
.next-page button:hover {
    /*border: none;*/
    /*background: none;*/
    /*font-family: OpenSansRegular;*/
    /*font-size: 12px;*/
    /*color: #000;*/
    
    text-decoration: underline;
}
.my-pagi-block {
    float: right;
}
.my-pagination {
    list-style: none;
    text-align: center;
    margin-left: -8%;
    padding: 0;
    display: block;
}
.my-pagination li {
    display: inline-block;
    margin: 2px 5px;
}
.my-active {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    background: #06b4a2;
    box-shadow: 1px 2px #bebebe;
}
.my-active span {
    display: block;
    text-align: center;
    color: #fff !important;
    float: none !important;
    background: none !important;
    border: none !important;
}
.my-num-pagi {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #dddddc;
    box-shadow: 1px 2px #bebebe;
}
.my-num-pagi:hover {
    background: #F3EEEF;
}
.my-num-pagi:hover a {
    color: #F29E9A;
}
.my-num-pagi a {
    display: block;
    line-height: 32px;
    text-align: center;
    color: #fff !important;
    float: none !important;
    background: none !important;
    border: none !important;
}
.my-load-pagi {
    width: 32px;
    height: 32px;
    border: none;
    background: url('../image/moreproduct3.png') no-repeat #fb6362;
    background-position: 50% 49%;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}
.my-product-heading {
    font-family: OpenSansSemiBold;
    font-size: 30px;
    color: #06b4a2;
    margin: 0px;
}
.my-product-manufact {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #565555;
}
.my-product-manufact span {
    font-family: OpenSansRegular;
}
.tovar_true {
    float: right;
}
.my-product-model {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #06b4a2;
    margin: 0;
}
.productNo {
    color: #fb6362;
}
.superGreen {
    color: #06b4a2 !important;
}
.my-product-model_code {
    font-family: OpenSansSemiBold;
    font-size: 14px;
    color: #565555;
}
.my-product-block-img {
    float: left;
    width: 49.582649%;
    margin-right: 3.5%;
    margin-bottom: 20px;
    max-width: 423px;
    clear: both;
}
.my-product-main-img {
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
}
.my-product-small-img button::before {
    color: #06b4a2;
}
.my-product-small-img button.slick-next {
    right: -20px;
    top: 29px;
}
.my-product-small-img button.slick-prev {
    left: -20px;
    top: 29px;
}
.my-product-two-img {
    width: 80px;
    float: left;
    margin: 0px 5px;
    /*border: 2px solid transparent;*/
}
.my-product-block-dis {
    float: left;
    width: 46.90915%;
}
.my-product-main-rating {
    display: inline-block;
    position: relative;
    top: 4px;
}
.rating-yes {
    display: inline-block;
    background-image: url("../image/ratingyes.gif");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}
.rating-no {
    display: inline-block;
    background-image: url("../image/ratingno.gif");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}
.my-product-rating-count {
    font-family: OpenSansRegular;
    color: #363636;
    font-size: 14px;
    text-decoration: underline;
    margin: 0px 18px;
    cursor: pointer;
}
.my-geo-city-button {
    background: none;
    border: none;
    position: relative;
    outline: none;
}
.my-geo-quest {
    position: absolute;
    top: 26px;
    left: -38px;
    /*width: 200px;*/
    
    background: #e6e6e6;
    display: none;
    z-index: 5;
    padding: 15px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}
.my-geo-quest:before {
    content: '\f0de';
    font-family: FontAwesome;
    color: #e6e6e6;
    position: absolute;
    top: -7px;
    left: 90px;
    font-size: 30px;
}
.my-product-wish-but {
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #fb6362;
    border: none;
    background: none;
    text-decoration: underline;
    padding: 0;
    /*float: right;*/
}
.my-geo-yes {
    background: #fb6362;
    width: 50px;
    display: inline-block;
    border: none;
    text-align: center;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 19px;
}
.my-geo-no {
    background: #fb6362;
    width: 50px;
    display: inline-block;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    cursor: pointer;
    margin-bottom: 10px;
}
.my-geo-list-ul {
    list-style: none;
    padding-left: 0px;
}
.my-geo-main-block {
    width: 600px;
    position: relative;
}
.my-geo-main-heading {
    font-family: OpenSansBold;
    color: #000;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
}
#this-my-geo {
    cursor: pointer;
}
.my-geo-list-ul li {
    text-align: left;
    padding: 5px 0px 5px 0px;
    display: inline-block;
    margin: 0px 10px;
    border-radius: 3px;
    color: #999898;
}
.my-close-geo {
    position: absolute;
    right: 0px;
    top: 0px;
    top: 0px;
    border: solid 2px #06b4a2;
    background: none;
    border-radius: 50%;
    color: #06b4a2;
    ;
}
.my-geo-main-input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 3px 0px 0px 3px;
    margin: 12px auto 12px auto;
    border-top: solid 1px #bbb;
    border-left: solid 1px #bbb;
    border-right: none;
    border-bottom: none;
    display: block;
}
.my-geo-list-ul li:hover {
    background: #eee;
}
.my-geo-main-label {
    font-family: OpenSansSemiBold;
    color: #000;
    font-size: 16px;
}
.my-geo-only-region {
    display: inline-block;
    width: 50%;
}
.my-geo-only-city {
    color: #000;
    margin-left: 20px;
}
.my-time-geo {
    font-family: OpenSansBold;
    font-size: 15px;
    color: #000;
    margin-top: 8px;
    width: 142px;
}
.my-product-wish-but span {
    margin-right: 5px;
}
.my-option-heading {
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 24px;
    color: #565555;
    margin-right: 12px;
    text-transform: capitalize;
    margin-bottom: 27px;
}
.my-geo-main-bottom-text {
    font-family: OpenSansRegular;
    font-size: 13px;
}
.my-geo-live-block {
    max-height: 150px;
    overflow-x: visible;
    overflow-y: scroll;
    border-radius: 3px;
    border: solid 1px #06b4a2;
    padding: 0px 15px;
    background: #fff;
}
.my-geo-live-list {
    display: block;
    padding: 3px 0px 3px 0px;
    color: #000;
    text-align: left;
}
.my-geo-live-block li:first-child {
    margin-top: 15px;
}
.my-geo-live-block li:last-child {
    margin-bottom: 15px;
}
.my-geo-live-list:hover {
    background: #eee;
}
.my-option-image-input {
    display: none;
}
.for-geo-remove {
    margin: 0px;
}
.my-option-image {
    width: 60px;
}
.my-option-image-label {
    display: inline-block;
    padding: 0px 12px 0px 0px;
}
.radio {
    display: inline-block;
    margin: 0px;
}
.optionsDetailed {
    margin-top: 12px;
}
.optionsColorDetailed {
    overflow: hidden;
    margin: 0;
    width: 80%;
    float: left;
    margin-bottom: 44px;
}
.optionsPriceDetailed {
    padding-top: 9px;
    padding-right: 2px;
    margin: 0;
}
.my-product-button-compire {
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #565555;
    border: none;
    background: none;
    /*float: right;*/
    
    text-align: left;
    padding: 0;
    margin-right: 20px;
}
.my-product-button-compire p {
    font-family: OpenSansRegular;
    font-size: 14px;
    color: #565555;
    width: 88px;
    display: inline-block;
    margin-top: -10px;
    text-decoration: underline;
}
.my-product-button-compire span {
    margin-right: 8px;
    color: #000;
    font-size: 16px;
    vertical-align: top;
    margin-top: 3px;
    position: relative;
}
.my-product-button-compire span:after {}
.compareYes span:after {
    background: url('../image/compareYes.png') no-repeat;
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    right: -5px;
}
.my-option-image-input:checked + img {
    border-radius: 50%;
    border: solid 2px #868585;
}
.my-product-price {
    font-family: OpenSansBold;
    font-size: 40px;
    color: #06b4a2;
    width: 186px;
    float: left;
    line-height: 40px;
    padding-right: 42px;
    height: 66px;
    line-height: 58px;
    margin: 0;
}
.my-product-price span {
    font-size: 24px;
    margin-left: 10px;
}
.old-your-price {
    font-family: OpenSansSemiBold;
    font-size: 40px;
    color: #fb6362;
    /*width: 50%;*/
    
    float: left;
    line-height: 40px;
    padding-right: 42px;
    text-decoration: line-through;
}
.my-discount-price {
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: #fb6362;
    /*width: 50%;*/
    
    float: left;
    line-height: 23px;
    padding-right: 42px;
    text-decoration: none;
}
.my-discount-name {
    font-family: OpenSansSemiBold;
    font-size: 16px;
    color: #06b4a2;
    /*width: 50%;*/
    
    float: left;
    line-height: 23px;
    padding-right: 10px;
    text-decoration: none;
}
.my-product-button-buy {
    width: 184px;
    height: 50px;
    border: none;
    background: url("../image/buyCart.png") no-repeat 79% 48% #06b4a2;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    border-radius: 5px;
    color: #fff;
    font-family: OpenSansRegular;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 25px;
    padding-right: 22px;
}
.my-product-button-buy span {
    font-size: 22px;
    margin-left: 7px;
}
.my-product-credit {
    font-family: OpenSansSemiBold;
    font-size: 18px;
    color: #fb6362;
    display: none;
    text-decoration: underline;
    border: none;
    background: none;
    margin: 12px 0px 25px 0px;
    padding: 0px;
    text-align: left;
}
.my-product-delivery-heading {
    font-family: OpenSansSemiBold;
    font-size: 18px;
    color: #565555;
    text-decoration: underline;
}
.my-product-delivery-text {
    font-family: OpenSansRegular;
    color: #565555;
    font-size: 14px;
    margin-bottom: 3px;
}
.my-product-garant-heading {
    font-family: OpenSansSemiBold;
    font-size: 18px;
    color: #565555;
    text-decoration: underline;
}
.my-product-garant-text {
    font-family: OpenSansRegular;
    color: #565555;
    font-size: 14px;
    margin-bottom: 5px;
}
.my-product-garant-text span,
.my-product-delivery-text span {
    font-family: OpenSansBold;
    color: #06b4a2;
    margin-right: 5px;
}
.my-product-buyone {
    font-family: OpenSansSemiBold;
    font-size: 18px;
    color: #fb6362;
    text-decoration: underline;
    border: none;
    background: none;
    margin: 13px 0px 11px 0px;
    padding: 0px;
    text-align: left;
    cursor: pointer;
}
.my-boot-tab {
    width: 33%;
    height: 47px;
    border: solid 1px #fb6362;
    border-radius: 0px;
    background: #eee;
}
.my-boot-tab a {
    line-height: 50px;
    font-family: OpenSansRegular;
    font-size: 18px;
    color: #585656;
    width: 100%;
    display: block;
    text-align: center;
}

/*<input id="hidden-product-id" type="hidden" name="product_id" value="<?php echo $product_id; ?>" />*/
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background: #fb6362;
    color: #fff;
    border: none;
    border-radius: 0px;
}
.nav-tabs>li>a {
    border: none;
    border-radius: 0px;
}
.nav-tabs>li {}
.nav-tabs {
    border: none;
}
.my-product-descript {
    padding: 10px 0px 0px 0px;
    border-right: 1px solid #eee;
    /*height: 300px;*/
    
    overflow: hidden;
}
.my-product-descript-line {
    height: 25px;
    border-bottom: solid 1px #ededed;
}
.my-attribut-list {
    margin: 20px 0px 0px 0px;
    color: #06b4a2;
}
.my-attribut-list {}
.my-attribut-name {
    color: #06b4a2;
    font-family: OpenSansSemiBold;
    font-size: 14px;
    display: inline-block;
    width: 54%;
    margin-right: 10px;
}
.my-attribut-text {
    color: #565555;
    font-family: OpenSansSemiBold;
    font-size: 16px;
    display: inline-block;
    width: 41%;
}
.my-product-post-review {
    width: 160px;
    height: 30px;
    background: #fb6362 !important;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76) !important;
    display: block;
    line-height: 15px;
}
.my-review-head-text {
    font-family: OpenSansRegular;
    color: #000;
    font-size: 15px;
}
.my-review-head-text span {
    float: right;
    padding-right: 50px;
    position: relative;
    top: 5px;
}
#form-review {
    display: none;
}
.my-review-text {
    font-family: OpenSansRegular;
    color: #000;
    font-size: 14px;
}
.my-input-price-label {
    font-family: OpenSansSemiBoldItalic;
    font-size: 12px;
    color: #666666;
    width: 80%;
    display: block;
    margin: auto;
}
.my-input-price-low,
.my-input-price-hight {
    width: 80%;
    display: block;
    margin: auto;
    background: #f4f4f4;
    border-left: solid 1px #4a484a;
    border-top: solid 1px #4a484a;
    border-right: none;
    border-bottom: none;
    border-radius: 3px;
    padding-left: 10px;
    font-family: OpenSansSemiBoldItalic;
    font-size: 16px;
    color: #414b59;
    height: 30px;
}
.my-input-price-submit {
    position: relative;
    left: 50%;
    width: 70px;
    height: 20px;
    margin: 15px auto 10px -35px;
    border: none;
    border-radius: 3px;
    background: #06b4a2;
    font-family: OpenSansRegular;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}
.my-contact-marker {
    text-align: center;
    border-bottom: solid 1px #d9d9d9;
    display: block;
    margin-top: 60px;
    margin-bottom: 40px;
    position: relative;
    top: 10px;
}
.my-contact-marker:before {
    position: absolute;
    left: 50%;
    color: #fb6362;
    font-size: 31px;
    background: #fff;
    width: 40px;
    height: 30px;
    top: -15px;
    margin-left: -15px;
}
.my-contact-heading {
    text-align: center;
    font-family: OpenSansSemiBold;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}
.my-contact-head-list {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    background: #06b4a2;
    position: relative;
}
.my-contact-head-list span {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    left: 15px;
    top: 13px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.my-contact-head-list span:before {}
.my-contact-heading-list {
    margin-top: 10px;
    text-align: center;
    font-family: OpenSansSemiBold;
    color: #000;
    font-size: 14px;
}
.my-contact-tele-ul {
    list-style: none;
    padding-left: 0px;
}
.my-contact-tele-ul li {
    text-align: center;
    font-size: 12px;
    font-family: OpenSansRegular;
}
.my-contact-address {
    width: 50%;
    display: block;
    margin: auto;
    text-align: center;
}
.my-contact-input {
    background: #f5f5f5;
    border-radius: 4px;
    border: solid 1px #ededed;
    width: 95%;
    height: 40px;
    padding: 10px;
}
.my-contact-textarea {
    background: #f5f5f5;
    border-radius: 4px;
    border: solid 1px #ededed;
    width: 100%;
    padding: 10px;
}
.my-contact-submit {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    background: #fb6362;
    border-bottom: solid 2px #d1403f;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: OpenSansSemiBold;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
}
.my-cart-heading {
    font-family: OpenSansRegular;
    font-size: 24px;
    color: #000;
}
.my-cart-heading span {
    height: 28px;
    width: 43px;
    background-image: url("../image/simple_cart.gif");
    background-position: 10% 10%;
    background-repeat: no-repeat;
    display: inline-block;
}
.my-cart-table-head {
    background: #eee;
    text-align: center;
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #000;
}
.my-cart-table-head td:nth-child(1) {
    width: 60%;
}
.text-center {
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #000;
}
.my-cart-table-head td {
    text-align: center;
}
.my-cart-product-image {
    height: 80px;
    float: left;
}
.my-cart-product-name {
    display: block;
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #fb6362;
}
.my-cart-product-model {
    display: block;
    font-family: OpenSansRegular;
    font-size: 10px;
    color: #767676;
}
.bottom-table-text {
    font-family: OpenSansSemiBold;
    font-size: 12px;
    color: #000;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: none;
}
.my-table {
    border: solid 1px #cccccc;
}
.my-table tr {
    border-bottom: 1px dashed #ccc;
}
.my-table tr td:nth-child(2),
.my-table tr td:nth-child(3) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.my-table tfoot tr,
.my-table thead tr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.my-cart-contact-heading {
    font-family: OpenSansBold;
    font-size: 12px;
    color: #000;
    padding-bottom: 4px;
    border-bottom: solid 1px #ccc;
}
.my-cart-contact-heading span {
    height: 21px;
    width: 28px;
    background-image: url("../image/cart_user.gif");
    background-position: 10% 10%;
    background-repeat: no-repeat;
    display: inline-block;
}
.my-cart-label {
    font-family: OpenSansBold;
    font-size: 12px;
    color: #000;
    text-align: right;
}
.my-cart-input {
    border: solid 1px #ccc
}
.my-delivery-label {
    display: block;
    margin-bottom: 12px;
}
.my-delivery-input {
    display: none;
}
.my-delivery-span:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
    background-image: url("../image/cart_radio_no.gif");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: relative;
    top: 2px;
}
.my-delivery-input:checked + .my-delivery-span:before {
    background-image: url("../image/cart_radio_yes.gif");
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
.my-cart-deliv-heading,
.my-cart-pay-heading {
    font-family: OpenSansBold;
    font-size: 12px;
    color: #000;
    padding-bottom: 4px;
    border-bottom: solid 1px #ccc;
}
.my-cart-deliv-heading a,
.my-cart-pay-heading a {
    font-family: OpenSansRegular;
    font-size: 10px;
    color: #40638c;
    text-decoration: underline;
    margin-left: 12px;
}
.my-cart-deliv-heading span {
    display: inline-block;
    width: 31px;
    height: 25px;
    background-image: url("../image/deliv_img.gif");
    background-position: 10% 10%;
    background-repeat: no-repeat;
}
.my-cart-pay-heading span {
    display: inline-block;
    width: 31px;
    height: 25px;
    background-image: url("../image/payment_img.gif");
    background-position: 10% 10%;
    background-repeat: no-repeat;
}
#my-checkout_confirm {
    float: left;
    width: 100%;
    text-align: center;
    margin: 38px 0px;
}
#my-checkout_confirm input {
    width: 300px;
    display: block;
    margin: auto;
    height: 56px;
    background: #fb6362;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    text-transform: uppercase;
}
.modal-reg-block {
    width: 900px;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -450px;
    top: 20px;
    z-index: 100;
}
.modal-reg-block form button.showpassword {
    float: right;
    margin-top: -48px;
    position: relative;
    margin-right: 5px;
}
.modal-reg-block2 {
    width: 630px;
    border-radius: 3px;
    background: #fff;
}
.my-close-reg {
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    opacity: 0.2;
    cursor: pointer;
}
.my-close-reg:hover {
    opacity: 0.5;
}
.callBackClose {
    right: -10px;
}
.modal-reg-heading {
    font-family: OpenSansSemiBold;
    color: #fb6362;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 40px 0px;
    padding: 40px 0px 37px 0px;
    border-bottom: solid 2px #06b4a2;
}
.my-reg-label {
    display: block;
    font-family: OpenSansRegular;
    color: #666;
    font-size: 14px;
}
.my-reg-input {
    width: 100%;
    height: 42px;
    background: #f4f4f4;
    border-top: solid 1px #bbb;
    border-left: solid 1px #bbb;
    border-right: none;
    border-bottom: none;
    padding-left: 10px;
    /*background-image: url("../image/login_input.gif");*/
    
    background-repeat: no-repeat;
    background-position: 99% 10%;
    margin: 0px 0px 10px 0px;
}
.my-reg-input:focus {
    background: #7a7e87;
    color: #fff;
    /*background-image: url("../image/login_input_focus.gif");*/
    
    background-repeat: no-repeat;
    background-position: 99% 10%;
}
.my-reg-submit {
    width: 300px;
    display: block;
    margin: 20px auto 35px auto;
    height: 56px;
    background: #fb6362;
    border: none;
    font-family: OpenSansRegular;
    color: #f7f7f7;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    text-transform: uppercase;
    text-align: center;
    line-height: 56px;
    cursor: pointer;
}
.modal-title {
    font-family: OpenSansSemiBold;
    color: #fb6362;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 20px 0px;
}
.modal-header {
    border-bottom: solid 2px #06b4a2;
}
.table>thead>tr>td {
    border-top: none;
}
.my-img-thumbnail {
    border: none;
}
.modal-cart-input-quan {
    height: 38px;
    width: 100%;
    background: #ebebeb;
    color: #000;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    padding-left: 4px;
    padding-right: 16px;
    text-align: center;
}
.minus-modal {
    position: absolute;
    top: 23px;
    right: 5px;
    cursor: pointer;
}
.plus-modal {
    position: absolute;
    top: 3px;
    right: 5px;
    cursor: pointer;
}
.product-number {
    max-width: 47px;
    min-width: 47px;
    padding: 0 !important;
}
.total-modal-block {
    height: 70px;
    border-top: solid 2px #aeaeae;
    border-bottom: solid 2px #aeaeae;
}
.total-modal-right {
    float: right;
    width: 50%;
    line-height: 70px;
    text-align: right;
    font-size: 20px;
}
.my-slider-product-buy-modal {
    width: 70px;
    height: 26px;
    border: none;
    border-radius: 3px;
    background: #06b4a2;
    font-family: OpenSansSemiBold;
    font-size: 10.25px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}
.my-slider-product-buy-modal .my-buy-cart {
    width: 16px;
    vertical-align: bottom;
    background-size: 100%;
}
.modal-fute-price {
    float: left;
    color: #000;
    font-size: 15px;
    width: 79px;
    text-align: left;
}
.modal-fute-price span {
    margin-left: 3px;
}
.modal-price-block {
    float: left;
    width: 100%;
    padding: 11px 0px 11px 0px;
    border-top: solid 1px #aeaeae;
    margin-top: 11px;
}
.modal-product-block {
    border: solid 1px #aeaeae;
    float: left;
    padding: 11px 12px 0px 12px;
    width: 180px;
}
.my-button-custom {
    width: 290px;
    height: 48px;
    background: #fb6362;
    border: none;
    font-family: OpenSansRegular;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    color: #f7f7f7 !important;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
}
.modal-next-button {
    float: left;
    font-size: 14px;
    margin: 37px 0px 0px 13px;
    color: #000;
    cursor: pointer;
}
.webpr-text {
    position: relative;
    float: right;
    margin: 0px 0px 0px 0px;
    line-height: 50px;
}
.webpr-text span {
    display: inline-block;
    width: 45px;
    height: 38px;
    position: absolute;
    background-image: url("../image/webpr-logo.png");
    background-repeat: no-repeat;
    left: -48px;
    top: 5px;
}
.webpr-text span:hover {
    transition: 0.5s;
    background-image: url("../image/webpr_logo_active.png");
    background-repeat: no-repeat;
}

/* modal fix height */
.modal-backdrop.in {
    position: fixed;
}

/********* product category ***********/
body[class^="product-category"] .my-header-menu-absolute {
    /*display: none;*/
}
.prevArrowSlider {
    background: url('../arrow-slider-product.png') no-repeat;
    width: 10px;
    height: 10px;
}
.clear {
    clear: both;
}
.oh {
    overflow: hidden;
}
.fb-page iframe ._1drm ._1z7u {
    height: 44px;
}
.prodInfoText {}
.dop_discount_h4 {
    text-align: center;
    padding: 5px 25px;
}
.dop_discount {
    font-family: OpenSansSemiBold;
}
.g-ytsubscribe {
    width: 245px;
}
.complects_button_yes {
    background: #06b4a2 !important;
    color: #fff !important;
    width: 150px;
    height: 40px;
    font-size: 16px;
    box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.76);
    border: none;
}
.complects_button_no {
    width: 150px;
    /*font-family: OpenSansRegular;*/
    
    height: 40px;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #ca3e3d;
    background: #fb6362 !important;
    color: #fff !important;
    font-size: 16px;
}
.buy_complect {
    width: 122px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: right;
}
.dropdown-caption {
    position: absolute;
    background: #fff;
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    margin-left: -1px;
    padding-left: 5px;
}
.footer-buy {
    color: #fff;
    width: 290px;
    background: #06b4a2 !important;
    padding: 8px 0 !important;
}
.footer-buy .total {
    font-size: 16px;
    margin-left: 10px;
}
.footer-buy .button-buy {
    box-shadow: none;
    padding: 0 !important;
    margin-top: -5px;
}
.complects .my-slider-product-block {
    margin-right: 9px !important;
    width: 200px !important;
}
.customerRegistredlink,
.prev_go {
    display: none;
}
#simplecheckout_payment .radio label span.radio_button,
#simplecheckout_shipping .radio label span.radio_button {
    height: 14px !important;
    background-position-y: -14px !important;
}
#simplecheckout_payment .radio label input:checked+span.radio_button,
#simplecheckout_shipping .radio label input:checked+span.radio_button {
    background-position-y: 0px !important;
}
@media min-width(1400px) {
    #simplecheckout_payment .radio label span.radio_button,
    #simplecheckout_shipping .radio label span.radio_button {
        background-position-y: -14px !important;
    }
}
.sc_container #content h1 {
    background: url('../image/cart_title.png') no-repeat;
    padding-left: 35px;
    background-position-y: 8px;
}
body.checkout-success #content {
    min-height: 0;
    margin-bottom: 25px;
    text-align: center;
}
body.checkout-success #content h1 {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
body.checkout-success #content .buttons {
    text-align: center;
    background: #fff !important;
    margin-bottom: 20px;
    margin-top: 20px;
}
.complects .my-slider-product-block .price {
    width: 55% !important;
}
.complects .my-slider-product-block .quantity {
    width: 43% !important;
}
.footer-buy #by_complect {
    float: right !important;
    margin-top: 0px !important;
    margin-right: 10px !important;
    background: url('../image/buyCart.png') no-repeat !important;
    padding-left: 28px !important;
}

footer a:hover{
    color: #fb6362;
}
@media screen and (min-width: 1170px) {
    #mediaPx .rightBlockProduct {
        margin-left: 15px !important;
        width: 65%;
    }
}
@media screen and (min-width: 1330px) {
    #mediaPx .rightBlockProduct {
        margin-left: 15px !important;
        width: 68%;
    }
}
.seo{
    clear: both;
}