/*#search*/
/* line 4, ../sass/search-input.scss */
#search ul.dropdown-menu {
  padding: 0;
}
/* line 6, ../sass/search-input.scss */
#search ul.dropdown-menu li {
  padding: 7px 0 !important;
  margin-bottom: 0;
  border-bottom: 1px solid #cdcece !important;
}
/* line 11, ../sass/search-input.scss */
#search ul.dropdown-menu li:hover a .ajaxadvance .content, #search ul.dropdown-menu li:hover a .ajaxadvance .content h4 {
  /*color: #35a800;*/
  color: #444;
}
/* line 15, ../sass/search-input.scss */
#search ul.dropdown-menu li a {
  border: none;
}
/* line 17, ../sass/search-input.scss */
#search ul.dropdown-menu li a:hover {
  background: #e4eef7;
}
/* line 20, ../sass/search-input.scss */
#search ul.dropdown-menu li a:hover .ajaxadvance {
  color: #444;
}
/* line 28, ../sass/search-input.scss */
#search ul.dropdown-menu li[data-value="0"] a .ajaxadvance {
  text-align: center;
  min-height: 30px;
}
/* line 31, ../sass/search-input.scss */
#search ul.dropdown-menu li[data-value="0"] a .ajaxadvance .content {
  padding: 7px;
}
/* line 33, ../sass/search-input.scss */
#search ul.dropdown-menu li[data-value="0"] a .ajaxadvance .content .allresults {
  display: none;
}
