/* line 1, ../sass/smartfilter.scss */
.filter-general-wrapper {
  /*.price-wrapper*/
  /*.category-filter*/
}
/* line 8, ../sass/smartfilter.scss */
.filter-general-wrapper .category-filter {
  background: #fff;
  /*.title-price-filter*/
  /*.checkbox */
}
/* line 10, ../sass/smartfilter.scss */
.filter-general-wrapper .category-filter .title-price-filter {
  background: #06b4a2;
  color: #fff;
  font-size: 18px;
}

/*.filter-general-wrapper*/
