<?php var_dump($this); ?>
<div style="width: 188px;float: left">
  <p class="my-product-delivery-heading"><?php echo $trusts[0]['trust_name'];?></p>
  <p class="my-product-delivery-text"><?php echo $trusts[0]['trust_text1'];?></p>
  <p class="my-product-delivery-text"><?php echo $trusts[0]['trust_text2'];?></p>
  <p class="my-product-delivery-text"><?php echo $trusts[0]['trust_text3'];?></p>
</div>
<div style="width: 188px;float: left">
  <p class="my-product-garant-heading"><?php echo $trusts[1]['trust_name'];?></p>
  <p class="my-product-garant-text"><span>></span><?php echo $trusts[1]['trust_name1'];?></p>
  <p class="my-product-garant-text"><span>></span><?php echo $trusts[1]['trust_name2'];?></p>
  <p class="my-product-garant-text"><span>></span><?php echo $trusts[1]['trust_name3'];?></p>
</div>