<div class="tovar_true"><p class="my-product-model <?=($product_quantity <= 0 || )?'productNo':''; ?>" ><?php echo $stock; ?></p>
          <?php if ($sku) { ?>
              <p class="my-product-model_code "><?php echo $text_model; ?>  <?php echo $sku; ?></p>
            <?php } ?></div>